.Dash {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.controller{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reset{
    padding: 8px 16px;
    border-radius: 8px;
    color: #FF5D1B;
    font-weight: 600;
    transition: 230ms;
    cursor: pointer;
}
.reset:hover{
color: #fafafa;
background-color: #FF5D1B;
}
.DashCard {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 75%;
    height: 80%;
}

.Titles {
    background-color: #FF5D1B;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 12px 0;
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.5;
}

.ItensTitles {
    color: #fafafa;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
}

.Itens0, .Itens1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.Itens0item, .Itens1item {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.85rem;
    line-height: 1.5;
    white-space: nowrap;
}

.Itens0 {
    transition: 350ms ease-in-out;
    background-color: #f0f0f0;
}

.Itens1 {
    transition: 350ms ease-in-out;
    background-color: #d4d4d4;
}

.itemContainer {
    overflow: auto;
    width: 100%;
}

.itemContainer::-webkit-scrollbar {
    width: 4px;
}

.itemContainer::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.itemContainer::-webkit-scrollbar-thumb {
    background: #a3a3a3;
}

.itemContainer::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}
.changed {
    background-color: #d9f99d;
    color: white;
  }