.Drawer{
background-color: #fafafa;
border-right: 3px #FF5D1B solid;
height: 100%;
width: 15%;
}
.DrawerItem{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: #FF5D1B;
    border: solid 1px #FF5D1B;
    border-radius: 100px;
    transition: 250ms ease-in-out;
    margin: 20px 20px
}

.DrawerItem:hover{
    padding: 12px;
    background-color: #FF5D1B;
    color: #fafafa;
    border-radius: 100px;
    margin: 20px 20px;
}